@model Web2.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chris Downing</h1>
    <img src="~/Content/Img/reflection-stock-photo.jpeg" class="mx-auto img-thumbnail" />
</div>